<div class="todo" *ngIf="todo$ | async as todo">
  <div class="todo__titleContainer">
    <h2
      class="todo__title"
      [ngClass]="{
        todo__lineTrought: (completed$ | async),
    }"
    >
      {{ todo.title }}
    </h2>
    <app-checkbox [todo]="todo"></app-checkbox>
  </div>
  <p class="todo__text">{{ todo.description }}</p>
  <div class="todo__footer">
    <app-tag [tag]="todo.tag"></app-tag>
    <div>
      <button
        class="todo__button todo__completeButton"
        (click)="completeTodo()"
      >
        {{ (completed$ | async) ? "Incomplete" : "Complete" }}
      </button>
      <button class="todo__button todo__deleteButton" (click)="deleteTodo()">
        Delete
      </button>
    </div>
  </div>
</div>
