.todoContainer {
  padding: 16px;
  border-radius: 16px;
  flex-direction: column;
  margin-bottom: 18px;
  background-color: #ffffff;
  color: #05191b;
}

.text {
  font-size: 12px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 0;
  margin: 0;
}

.text_lineTrought {
  color: rgb(112, 126, 135);
  text-decoration: line-through;
}

.completeButton {
  height: 32px;
  border-radius: 8px;
  background-color: rgb(5, 92, 192);
  border: 1px solid rgb(17, 9, 81);
  color: rgb(1, 31, 53);
}

.deleteButton {
  height: 32px;
  border-radius: 8px;
  background-color: red;
  border: 1px solid rgb(165, 30, 30);
  color: rgb(1, 31, 53);
}

.footer {
  display: flex;
  justify-content: space-between;
}
