$font-size: 10px;

.chat {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 200px;
  width: 200px;
  flex-direction: column;
  background-color: rgb(244, 244, 235);
  border-radius: 4px;

  &__inputWrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 140px;
    height: 22px;
    border: 1px solid rgb(86, 110, 174);
    border-radius: 4px;
    font-size: 14px;
    &:focus {
      outline: none;
      border: 1px solid rgb(4, 62, 98);
    }
  }

  &__button {
    border-radius: 4px;
    background-color: rgb(31, 56, 71);
    border: 1px solid rgb(64, 80, 77);
    padding: 4px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(193, 212, 208);
  }

  &__messages {
    background-color: rgb(244, 244, 235);
    border-radius: 4px;
    height: 200px;
    overflow: auto;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__message {
    color: rgb(5, 46, 71);
    padding: 0px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: $font-size;
    margin-top: 6px;
    line-height: $font-size;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  &__messageButton {
    font-size: $font-size;
    padding: 0;
    height: $font-size;
    width: $font-size;
    &:hover {
      cursor: pointer;
    }
  }

  &__deleteButton {
    color: rgb(232, 45, 28);
    margin-left: 10px;
  }

  &__editButton {
    color: rgb(119, 191, 239);
  }
}

.chatMessage {
  color: blue;
}

.createTodo {
  color: green;
}

.createCategory {
  color: rgb(2, 221, 245);
}

.deleteTodo {
  color: orangered;
}

.deleteCategory {
  color: rgb(180, 9, 57);
}
.signIn {
  color: rgb(83, 12, 206);
}

.signOut {
  color: rgb(185, 135, 8);
}
