<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form__inputWrapper">
    <input
      type="text"
      class="form__input"
      formControlName="email"
      placeholder="Enter Email"
    />
    <div class="form__error" *ngIf="email.errors?.required && email.touched">
      Email is required!!!
    </div>
  </div>
  <div class="form__inputWrapper">
    <input
      type="password"
      class="form__input"
      formControlName="password"
      placeholder="Enter Password"
    />
    <div
      class="form__error"
      *ngIf="password.errors?.required && password.touched"
    >
      Password is required!!!
    </div>
  </div>
  <button class="form__button">Register</button>
</form>
