.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 20px;

  &__filter {
    width: 400px;
    height: 22px;
    border: 1px solid rgb(86, 110, 174);
    border-radius: 6px;
    font-size: 14px;
    &:focus {
      outline: none;
      border: 1px solid rgb(5, 72, 255);
    }
  }

  &__button {
    border-radius: 4px;
    background-color: rgb(31, 56, 71);
    border: 1px solid rgb(64, 80, 77);
    padding: 4px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(193, 212, 208);
    margin-left: 4px;
    margin-right: 4px;
  }

  &__removeTodosButton {
    background-color: rgb(123, 5, 5);
    display: flex;
    padding: 0;
    padding-left: 6px;
    padding-right: 8px;
    align-items: center;
    height: 26px;
  }

  &__removeTodosButton p {
    margin: 0;
  }

  &__removeTodosButton--icon {
    font-size: 18px;
    padding-top: 4px;
  }
}
