.form {
  &__input {
    width: 380px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 14px;
    display: flex;

    &:focus {
      border: 1px solid blue;
    }
  }

  &__button {
    border-radius: 4px;
    background-color: rgb(31, 56, 71);
    border: 1px solid rgb(64, 80, 77);
    padding: 4px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(193, 212, 208);
    margin-left: 6px;
    margin-top: 10px;
  }

  &__error {
    color: red;
    position: absolute;
    top: 68px;
  }

  &__inputWrapper {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 388px;
    flex-direction: column;
  }
}
