<div *ngIf="category$ | async as category" class="category">
  <div class="category__header">
    <div class="category__titleWrapper">
      <p class="category__open" (click)="openCategory()">
        {{ isOpen ? "-" : "+" }}
      </p>
      <h2 class="category__title">{{ category.title }}</h2>
    </div>
    <button class="category__deleteButton" (click)="deleteCategory()">
      - Category
    </button>
  </div>
  <div *ngIf="isOpen">
    <app-todo
      *ngFor="let todo of category.todos; trackBy: trackByFn"
      [todo]="todo"
    ></app-todo>
  </div>
</div>
