.category {
  border: rgb(18, 83, 121) dashed;
  border-radius: 16px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 22px;
  margin-bottom: 40px;
}

h2 {
  color: rgb(10, 29, 40);
}
