.category {
  border: rgb(255, 255, 255) dashed;
  border-radius: 16px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 22px;
  margin-bottom: 40px;
}
.text_lineTrougth {
  text-decoration: line-through;
}
h2 {
  color: #dadada;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  height: 32px;
  border-radius: 8px;
  background-color: red;
  border: 1px solid rgb(165, 30, 30);
  color: #05191b;
  margin-right: 16px;
}
