.appContainer {
  //max-width: 42rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}

.title {
  text-align: center;
  color: rgb(10, 29, 40);
}

.filter {
  display: flex;
  width: 400px;
  height: 30px;
  border: 1px solid rgb(86, 110, 174);
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 24px;
  &:focus {
    outline: none;
    border: 1px solid rgb(5, 72, 255);
  }
}

.addTodoButton {
  border-radius: 8px;
  background-color: green;
  border: 1px solid rgb(3, 47, 3);
  padding: 8px;
  font-size: 14px;
  color: rgb(220, 226, 211);
}

.addCategoryButton {
  border-radius: 8px;
  background-color: rgb(255, 242, 0);
  border: 1px solid rgb(144, 154, 6);
  padding: 8px;
  font-size: 14px;
  color: rgb(14, 98, 163);
}

.removeTodosButton {
  border-radius: 8px;
  background-color: red;
  border: 1px solid rgb(47, 5, 5);
  padding: 8px;
  font-size: 14px;
  color: rgb(47, 5, 5);
}
