<div class="appContainer">
  <!-- <h1 class="title">{{ title | titlecase }}</h1> -->
  <input
    type="text"
    class="filter"
    placeholder="Filter todos"
    [(ngModel)]="filterValue"
    onchange="setValue"
  />
  <div *ngIf="categoriesService.categories">
    <app-category
      *ngFor="
        let category of categoriesService.categories
          | filterTodos : filterValue;
        trackBy: trackByFn
      "
      [category]="category"
    ></app-category>
  </div>
  <app-modal *ngIf="modalService.isVisible$ | async"
    ><app-create-todo></app-create-todo
  ></app-modal>
  <button class="addTodoButton" (click)="modalService.show()">+ Todo</button>
  <button class="addCategoryButton">+ Category</button>
</div>
