<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="inputWrapper">
    <input
      type="text"
      class="input"
      formControlName="title"
      placeholder="Enter Todo Title"
    />
    <div class="error" *ngIf="title.errors?.required && title.touched">
      Title is required!!!
    </div>
  </div>
  <div class="inputWrapper">
    <input
      type="text"
      class="input"
      formControlName="description"
      placeholder="Enter Todo Description"
    />
  </div>
  <select formControlName="categoryId" class="select">
    <option
      *ngFor="let category of categoriesService.categories$ | async"
      [value]="category.id"
    >
      {{ category.title }}
    </option>
  </select>
  <select formControlName="tag" class="select">
    <option *ngFor="let tag of eTagArray" [value]="tag">{{ tag }}</option>
  </select>
  <button class="button">Create todo</button>
</form>
