.tag {
  display: flex;
  text-align: center;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 900;
}

.tagContainer {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: green;
}

.orange {
  color: rgb(226, 131, 42);
}

.red {
  color: red;
}
